<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <script src="/js/vue1.0.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>课程列表</title>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
    <div th:include="manage/template/left-nav :: left-nav"></div>
    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title"
                  style="margin-top: 10px;width:90%">
            <legend>用户列表</legend>
        </fieldset>
        <table id="allusers" class="layui-table" v-cloak style="table-layout:fixed;">
            <colgroup>
                <col width="15%">
                <col width="25%">
                <col width="25%">
                <col width="15%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>学号</th>
                <th>用户类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in nowusers">
                <td>{{$index+1+pagesize*(page-1)}}</td>
                <td>{{user.name}}</td>
                <td>{{user.uid}}</td>
                <td>{{user.type}}</td>
                <td>
                    <div class="layui-btn-group">
                        <button class="layui-btn  layui-btn-normal" v-on:click="del(user)"><i
                                class="layui-icon"></i>删除
                        </button>
                    </div>
                    <div class="layui-btn-group">
                        <button class="layui-btn  layui-btn-normal" v-on:click="edit(user)"><i
                                class="layui-icon"></i>编辑
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <div id="page"></div>
            </tr>
        </table>
    </div>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'layer', 'form', 'laypage'], function () {
            var i = 0;
            var datas = new Array();
            var element = layui.element;
            var layer = layui.layer;
            var laypage = layui.laypage;
            var app = new Vue({
                el: '#allusers',
                data: {
                    users: [],
                    nowusers: [],
                    user: {},
                    page: 1,
                    pagesize: 15,
                    maxtCount: 0,
                    pages: 0,
                },
                created: function () {
                    this.load();
                },
                methods: {
                    load: function () {
                        jQuery.ajax({
                            type: 'POST',
                            url: "/manage/getAllUsers",
                            success: function (r) {
                                app.nowusers = r;
                                console.log(app.nowusers);
                                app.maxtCount = app.nowusers.length;
                                app.pages = app.maxtCount / app.pagesize;
                                for (i = 0; i < app.maxtCount; i++) {
                                    app.nowusers[i].type = 0 ? "管理员" : "用户";
                                }
                                for (i = 0; i < app.pagesize; i++) {
                                    app.user = app.nowusers[i];
                                    datas.push(app.user);
                                }
                                app.users = datas;
                                laypage.render({
                                    elem: 'page'
                                    , count: app.maxtCount //数据总数，从服务端得到
                                    , limit: app.pagesize
                                    , groups: 3
                                    , jump: function (obj, first) {
                                        if (app.page == obj.curr) return false;
                                        app.page = obj.curr;
                                        layer.load(1);
                                        datas = [];
                                        for (i = 0; i < app.pagesize; i++) {
                                            app.user = app.nowusers[app.page * app.pagesize + i];
                                            datas.push(app.user);
                                        }
                                        app.users = datas;
                                        layer.closeAll('loading');
                                    }
                                });
                            }
                        });
                    },
                    edit:function(user){
                        window.location.href = "/manage/edituser?id="+user.uuid;
                    },
                    del: function (user) {
                        layer.confirm('确定删除？', {
                            btn: ['确定', '取消'] //按钮
                        }, function () {
                            jQuery.ajax({
                                type: 'POST',
                                url: "/manage/deleteUser",
                                data: user,
                                dataType: 'json',
                                success: function (json) {
                                    layer.closeAll('loading')
                                    if (json.status == 0) {
                                        layer.msg("删除成功", {icon: 6});
                                        window.location.reload();
                                    } else {
                                        layer.alert(json.result, {icon: 5});
                                    }
                                }
                            });
                        });
                    }
                },
            });

            function load() {
                app.load();
            }
        })

        function back() {
            window.history.go(-1)
        }
    </script>
</body>
</html>
